@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);

#header1-1 .btn {
  font-size: 16px;
}
#header1-1 P {
  color: #000000;
  font-family: 'Roboto', sans-serif;
}
#header1-1 H1 {
  color: #000000;
}
#content5-8 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-8 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-8 .mbr-article {
  color: #fff;
}
#msg-box5-1y .mbr-header__text {
  color: #ffffff;
}
#msg-box5-1y .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-1y .mbr-article {
  color: #ffffff;
}
#gallery1-3 SMALL {
  text-align: center;
  color: #ffffff;
}
#dropdown-menu-2btn-12 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-12 .nav .link,
#dropdown-menu-2btn-12 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-12 .navbar,
#dropdown-menu-2btn-12 .dropdown-menu {
  background: #3c3c3c;
}
#dropdown-menu-2btn-12 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-12 .dropdown-menu a:hover,
#dropdown-menu-2btn-12 .dropdown-menu a:focus {
  background: #323232;
}
#dropdown-menu-2btn-12 .navbar-toggler {
  color: #ffffff;
}
#social-buttons2-18 .mbr-header__text {
  color: #000000;
}
#social-buttons1-17 .mbr-header__text {
  color: #ffffff;
}
#contacts1-1a P {
  color: #ffffff;
}
#header3-11 H3 {
  text-align: center;
  font-size: 48px;
}
#image2-v P {
  font-size: 14px;
}
#header3-y H3 {
  text-align: center;
}
#header3-z H3 {
  text-align: center;
}
#header3-z P {
  text-align: left;
}
#header3-10 H3 {
  text-align: center;
}
#header3-10 P {
  text-align: left;
}
#header3-1t H3 {
  text-align: center;
}
#header3-1t P {
  text-align: left;
}
#contacts1-1a P {
  color: #ffffff;
}
#dropdown-menu-2btn-1v .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1v .nav .link,
#dropdown-menu-2btn-1v .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-1v .navbar,
#dropdown-menu-2btn-1v .dropdown-menu {
  background: #5b4a41;
}
#dropdown-menu-2btn-1v .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1v .dropdown-menu a:hover,
#dropdown-menu-2btn-1v .dropdown-menu a:focus {
  background: #4f4039;
}
#dropdown-menu-2btn-1v .navbar-toggler {
  color: #ffffff;
}
#content5-14 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-14 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-14 .mbr-article {
  color: #fff;
}
#content5-14 .mbr-article P {
  text-align: center;
  font-size: 18px;
}
#content5-15 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-15 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-15 .mbr-article {
  color: #fff;
}
#content5-15 .mbr-article P {
  text-align: center;
  font-size: 18px;
}
#dropdown-menu-2btn-1v .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1v .nav .link,
#dropdown-menu-2btn-1v .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-1v .navbar,
#dropdown-menu-2btn-1v .dropdown-menu {
  background: #5b4a41;
}
#dropdown-menu-2btn-1v .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1v .dropdown-menu a:hover,
#dropdown-menu-2btn-1v .dropdown-menu a:focus {
  background: #4f4039;
}
#dropdown-menu-2btn-1v .navbar-toggler {
  color: #ffffff;
}
#contacts1-1w P {
  color: #ffffff;
}
#header3-1g H3 {
  text-align: center;
}
#contacts1-1a P {
  color: #ffffff;
}
#dropdown-menu-2btn-1v .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1v .nav .link,
#dropdown-menu-2btn-1v .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-1v .navbar,
#dropdown-menu-2btn-1v .dropdown-menu {
  background: #3c3c3c;
}
#dropdown-menu-2btn-1v .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1v .dropdown-menu a:hover,
#dropdown-menu-2btn-1v .dropdown-menu a:focus {
  background: #323232;
}
#dropdown-menu-2btn-1v .navbar-toggler {
  color: #ffffff;
}
#contacts1-1a P {
  color: #ffffff;
}
#dropdown-menu-2btn-1v .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1v .nav .link,
#dropdown-menu-2btn-1v .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-1v .navbar,
#dropdown-menu-2btn-1v .dropdown-menu {
  background: #3c3c3c;
}
#dropdown-menu-2btn-1v .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1v .dropdown-menu a:hover,
#dropdown-menu-2btn-1v .dropdown-menu a:focus {
  background: #323232;
}
#dropdown-menu-2btn-1v .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-1v .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1v .nav .link,
#dropdown-menu-2btn-1v .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-1v .navbar,
#dropdown-menu-2btn-1v .dropdown-menu {
  background: #3c3c3c;
}
#dropdown-menu-2btn-1v .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1v .dropdown-menu a:hover,
#dropdown-menu-2btn-1v .dropdown-menu a:focus {
  background: #323232;
}
#dropdown-menu-2btn-1v .navbar-toggler {
  color: #ffffff;
}
#contacts1-1w P {
  color: #ffffff;
}
